%form{:action => "/call", :method => "POST", :name => "twilio_test"}
  %h1 Twilio Test

  %fieldset
    %h4 Enter your phone number and a message!

    %label{:for => "phone_number"} Phone Number:
    %input{:type => "text", :name => "phone_number", :size => 10}
    %br/
    %label{:for => "message"} Message:
    %textarea{:name => "text", :size => 140}
    %br/
    %input{:type => "submit", :value => "text me!"}
