body {
  color: #333;
  font-size: 13px;
  font-family: "helvetica neue", arial, helvetica, "lucida grande", sans-serif;
}

#header>h1 {
  display: inline;
  margin-top: 2px;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-family: "helvetica neue", Helvetica, arial, sans-serif;
}

.button {
   border-top: 1px solid #a85e5e;
   background: #5e2929;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff3333), to(#5e2929));
   background: -moz-linear-gradient(top, #ff3333, #5e2929);
   padding: 13.5px 27px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 16px;
   font-family: Helvetica neue, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #b02929;
   background: #b02929;
   color: #000000;
   }
.button:active {
   border-top-color: #ff0000;
   background: #ff0000;
   }

ol#toc {
  list-style: none;
  line-height: 2em;
}

ol#toc li {
  display: inline;
}

#top {
  margin: 0;
  float:right;
}

h1 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 12px; }

h2 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 6px; }

h3 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 4px; }

h4 {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 4px; }

h5 {
  font-size: 14px;
  margin-bottom: 4px; }

h6 {
  font-size: 12px;
  margin-bottom: 4px; }

/* Text elements */
p {
  line-height: 1.4;
  margin-bottom: 12px; }

/* Use this if the image is at the top of the <p>. */
p img.top {
  margin-top: 0; }

#header_img{
  display: block;
  position: absolute;
  left: 110px;
}

/* Forms */
/*
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
input[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0; }

form ol {
  list-style: none;
  margin: 0 0 12px 0; }

form ol ol {
  margin-left: 0; }

form ol li {
  list-style-position: outside;
  margin: 0 0 12px 0; }

/*list-style-position fixes IE label margin bug*/
form ol ol li {
  list-style-position: outside;
  margin: 0 0 4px 0; }

form ol li.error input {
  background: #FBE3E4; }

p.inline-errors {
  color: #D12F19; }

form ol li.file {
  background: #e1e1e1;
  border: 1px solid #c8c8c8;
  padding: 10px; }

form abbr {
  border-bottom: 0; }

label {
  display: block; }

.required label {
  font-weight: bold; }

.checkbox_field label,
.radio_field label {
  font-weight: normal; }

a.cancel {
  color: #7d0d0d; }

.inline-hints {
  color: #666;
  font-size: 11px;
  margin-bottom: 4px; }

/* Fieldsets */
fieldset {
  background: #f1f1f1;
  border: 1px solid #e3e3e3;
  margin: 0 0 16px 0;
  padding: 16px 16px 12px 16px; }

fieldset fieldset,
fieldset fieldset fieldset {
  border: 0;
  padding: 0; }

legend {
  font-weight: bold; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

fieldset.buttons {
  background: inherit;
  border: 0;
  padding: 0; }

fieldset.buttons li {
  display: inline; }

.radio fieldset {
  margin: 0;
  padding: 0; }

/* Text fields */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font-size: inherit;
  padding: 3px 2px;
  width: 300px; }

.ie6 input {
  vertical-align: text-bottom; }

input[disabled='disabled'] {
  background-color: #fcfcfc;
  cursor: default; }

input[type="checkbox"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

input[type="radio"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle; }

.check_boxes label {
  display: inline;
  padding: 0;
  vertical-align: middle; }

.radio label {
  padding: 0; }

/* Textareas */
textarea {
  font-size: inherit;
  height: 200px;
  margin: 0 6px 6px 0;
  padding: 5px;
  width: 440px;
  overflow: auto; }

/* Select fields */
fieldset .select select {
  width: 200px;
  font-size: 11px; }

optgroup {
  margin: 0 0 6px 0; }

/* Date & Time */
form ol li.date select,
form ol li.time select,
form ol li.datetime select {
  display: inline;
  width: auto; }

form ol li.date ol li,
form ol li.time ol li,
form ol li.datetime ol li {
  display: inline-block; }

/* Tables */
table {
  margin-bottom: 24px;
  width: 100%; }

th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd; }

caption, th, td {
  padding: 4px 10px 4px 0; }

caption {
  background: #f1f1f1;
  margin-bottom: 12px;
  padding: 10px 0; }

tr, td, th {
  vertical-align: middle; }

/* Use this if you use span-x classes on th/td. */
table .last {
  padding-right: 0; }

/* Lists */
ul, ol {
  list-style-position: inside;
  margin-bottom: 16px; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  line-height: 1.4;
  margin-bottom: 16px; }

dl dt {
  font-weight: bold;
  margin-top: 6px; }

dl dd {
  margin-bottom: 0em; }

dd {
  margin-left: 6px; }

li {
  line-height: 1.4; }

ol ol, ol ul, ul ul, ul ol {
  margin-left: 12px; }

.contact_name {
  text-size: 
