body {
  color: #333;
  background:url(/images/bg.png) repeat-x #fff;
  font-size: 13px;
  font-family: "helvetica neue", arial, helvetica, "lucida grande", sans-serif;
}

#header>h1 {
  display: inline;
  margin-top: 2px;
}

.nav {
  float: right;
}

.nav>a {
  font-size: 1.2em;
  margin: 2px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: .15em dashed #590101;
}

.nav>a:visited {
  color: #000;
}

.signUp {
	font-family: "helvetica neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #999999;
	padding: 15px 35px;
	background: -moz-linear-gradient(
		top,
		#e00000 0%,
		#590101);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#e00000),
		to(#590101));
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #520000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

.contact_name > #label {
  font-weight: bold;
  display: inline;
  font-size: 1.2em;
  color: #999;
}

.contact_email > #label {
  font-weight: bold;
  display: inline;
  font-size: 1.2em;
  color: #999;
}

.contact_phone > #label {
  font-weight: bold;
  display: inline;
  font-size: 1.2em;
  color: #999;
}

.contact_name > #value {
  font-size: 1.3em;
  display: inline;
}

.contact_email > #value {
  font-size: 1.3em;
  display: inline;
}

.contact_phone > #value {
  font-size: 1.3em;
  display: inline;
}

.footerContact> a{
  text-decoration: none;
  display: inline;
}

#footerText {
  font-weight: bold;
  color: #999;
  margin-left: 3px;
  border-bottom: 1px solid #999;
  margin-right: 20px;
}

#footerNumber {
  font-weight: bold;
  color: #000;
  margin-left: 10px;
}
