%br
.footerContact
  %span#footerText
    Contact
  %span#footerText
    SOSMS
  %br
  %a{:href => "http://twitter.com/dfnkt"}
    = image_tag("twitter.png", :height => "25px")
  %a{:href => "mailto:caley.w@gmail.com"}
    = image_tag("gmail.png", :height => "20px")
  %span#footerNumber
    (417)208-2640
