#markdown
  :markdown
    Welcome to SOSMS!
    -----------------
    SOSMS seeks to help connect survivors of disaster with their family and friends.

    How does it work?
    -----------------
    * Sign up for an account
    * Add contacts (people to be notified)
    * Text "SAFE" to **(417) 208-2640** to notify your contacts
%br
%a{:href => new_user_registration_path}
  %button.signUp Sign Up!
