%form{:action => "/contact/new", :method => "POST", :name => "contact_form"}
  %h1 Add a Contact
  %label{:for => "first_name"} First Name:
  %input{:type => "text", :name => "first_name"}
  %br/
  %label{:for => "last_name"} Last Name:
  %input{:type => "text", :name => "last_name"}
  %br
  %label{:for => "email"} Email Address:
  %input{:type => "text", :name => "email"}
  %br/
  %label{:for => "phone_number"} Phone Number:
  %input{:type => "text", :name => "phone_number", :size => 10}
  %br/
  %input{:type => "submit", :value => "Save"}
